@using AdminLTE.MVC.Models
@model List<AdminLTE.MVC.Models.UserRolesViewModel>
@{
    ViewData["Title"] = "User Roles";
}
<h1>User Roles</h1>
<div class="text-left">
    <a onclick="loadBigModal('@Url.Action("AddOrEditUser","UserRoles",new {userId=""},Context.Request.Scheme)','Add New User')" class="btn btn-info text-white"><i class="fas fa-user-alt"></i> Add New User</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a onclick="loadBigModal('@Url.Action("AddOrEditUser","UserRoles",new {userId=@user.UserId},Context.Request.Scheme)','Edit User')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit User</a>
                    <a onclick="loadBigModal('@Url.Action("Manage","UserRoles",new {userId=@user.UserId},Context.Request.Scheme)','Manage Roles')" class="btn btn-primary text-white"><i class="fas fa-scroll"></i> Manage Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>